<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=noe">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>查询结果</title>
	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../css/search-list.css">
	<script src="../js/adjust.js"></script>
</head>
<body>
	<header>
		<!-- TODO: 后期写 -->
	</header>
	<!-- 查询统计 -->
	<div class="search-stats">
		<div class="header">
			<h3>
				<strong class="search-title">XX</strong>
				视频共(
				<strong class="search-num">xx</strong>
				个)
			</h3>
		</div>
		<p class="line"></p>
	</div>
	<!-- 查询结果 -->
	<section class="search-list">
		<ul class="list-wrap">
			<li>
				<a href="" class="clearfix">
					<div class="left-box">
						<img src="../img/index-thumbnail/muqin.jpg" alt="">
					</div>
					<div class="right-box">
						<h1 class="video-title">一个母亲的复仇</h1>
						<div class="cont">
							<p class="p"><span class="le">分类：</span><span class="ri">剧情片</span></p>
							<p class="p"><span class="le">类型：</span><span class="ri">犯罪 剧情</span></p>
							<p class="p"><span class="le">演员：</span><span class="ri">希里黛玉</span></p>
							<p class="p pt"><span class="le">状态：</span><span class="ri">BD高清</span></p>
							<p class="p"><span class="le">时间：</span><span class="ri">2019-05-16 22：03：15</span></p>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="">
					<div class="left-box">
							<img src="../img/index-thumbnail/muqin.jpg" alt="">
					</div>
					<div class="right-box">
						<h1 class="video-title">一个母亲的复仇</h1>
						<div class="cont">
							<p><span class="l">分类：</span><span class="r">剧情片</span></p>
							<p><span class="l">类型：</span><span class="r">犯罪 剧情</span></p>
							<p><span class="l">演员：</span><span class="r">希里黛玉</span></p>
							<p><span class="l">状态：</span><span class="r">BD高清</span></p>
							<p><span class="l">时间：</span><span class="r">2019-05-16 22：03：15</span></p>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="">
					<div class="left-box">
							<img src="../img/index-thumbnail/muqin.jpg" alt="">
					</div>
					<div class="right-box">
						<h1 class="video-title">一个母亲的复仇</h1>
						<div class="cont">
							<p><span class="l">分类：</span><span class="r">剧情片</span></p>
							<p><span class="l">类型：</span><span class="r">犯罪 剧情</span></p>
							<p><span class="l">演员：</span><span class="r">希里黛玉</span></p>
							<p><span class="l">状态：</span><span class="r">BD高清</span></p>
							<p><span class="l">时间：</span><span class="r">2019-05-16 22：03：15</span></p>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="">
					<div class="left-box">
							<img src="../img/index-thumbnail/muqin.jpg" alt="">
					</div>
					<div class="right-box">
						<h1 class="video-title">一个母亲的复仇</h1>
						<div class="cont">
							<p><span class="l">分类：</span><span class="r">剧情片</span></p>
							<p><span class="l">类型：</span><span class="r">犯罪 剧情</span></p>
							<p><span class="l">演员：</span><span class="r">希里黛玉</span></p>
							<p><span class="l">状态：</span><span class="r">BD高清</span></p>
							<p><span class="l">时间：</span><span class="r">2019-05-16 22：03：15</span></p>
						</div>
					</div>
				</a>
			</li>
		</ul>
	</section>
</body>
</html>