<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=noe">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>查询结果</title>
	<link rel="stylesheet" href="../public/css/base.css">
	<link rel="stylesheet" href="../public/css/search-list.css">
	<script src="../public/js/jq.js"></script>
	<script src="../public/js/underscore.js"></script>
	<script src="../public/js/adjust.js"></script>
</head>
<body>
	<header class="header clearfix">
		<div class="back"><a href="./index.html">返回</a></div>
		<!-- 搜索 -->
		<div class="search clearfix">
				<form class="clearfix search-form" action="./search-list.html">
					<input type="text" name="" id="" class="search-inp">
					<button type="submit" class="search-btn">搜索</button>
				</form>
			</div>
	</header>
	<!-- 查询统计 -->
	<div class="search-stats">
		<div class="header">
			<h3>
				<strong class="search-title">XX</strong>
				视频共(
				<strong class="search-num">xx</strong>
				个)
			</h3>
		</div>
		<p class="line"></p>
	</div>
	<!-- 查询结果 -->
	<section class="search-list">
		<ul class="list-wrap">
			<li>
				<a href="" class="clearfix">
					<div class="left-box">
						<img src="../public/img/index-thumbnail/muqin.jpg" alt="">
					</div>
					<div class="right-box">
						<h1 class="video-title">一个母亲的复仇</h1>
						<div class="cont">
							<p class="p"><span class="le">分类：</span><span class="ri">剧情片</span></p>
							<p class="p"><span class="le">类型：</span><span class="ri">犯罪 剧情</span></p>
							<p class="p"><span class="le">演员：</span><span class="ri">希里黛玉</span></p>
							<p class="p pt"><span class="le">状态：</span><span class="ri">BD高清</span></p>
							<p class="p"><span class="le">时间：</span><span class="ri">2019-05-16 22：03：15</span></p>
						</div>
					</div>
				</a>
			</li>
		</ul>
	</section>
</body>
<script type="text/html" id="video-temp">
	<% $.each(data, function(k, v){ %>
		<li>
			<a href="./play.html?name=<%= v.name %>" class="clearfix">
				<div class="left-box">
					<img src="<%= v.img_url[0] %>" alt="">
				</div>
				<div class="right-box">
					<h1 class="video-title"><%= v.name %></h1>
					<div class="cont">
						<p class="p"><span class="le">分类：</span>
							<span class="ri">
								<%= v.lei_xing.substring(0,3) %>
							</span>
						</p>
						<!-- <p class="p"><span class="le">类型：</span><span class="ri"><%= v.lei_xing %></span></p> -->
						<p class="p"><span class="le">演员：</span><span class="ri"><%= v.zhu_yan %></span></p>
						<p class="p pt"><span class="le">状态：</span><span class="ri">BD高清</span></p>
						<p class="p"><span class="le">时间：</span><span class="ri"><%= v.update %></span></p>
					</div>
				</div>
			</a>
		</li>
	<% }) %>
</script>
<script src="../public/js/search-list.js"></script>
</html>